.Page{
  margin: 2em 23em;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
button{
  background-color: #2196f3;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: #2196f3;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.7);
}
button:hover{
  transition: 0.5s;
  cursor: pointer;
  background-color: #1769aa;
}