.DrawerToggle {
  width: 50px;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 300ms;
}

.DrawerToggle div {
  width: 60%;
  height: 3px;
  background-color: white;
}

.DrawerToggle:hover{
  border-radius: 200px;  
  background-color: #1769aa;
  transition: 300ms
}